@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@200;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

main.container-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header.info-header {
  width: 100%;
  height: 60%;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-style: italic;

  h1 {
    font-size: 7rem;
    font-weight: 700;
    color: red;
  }

  p {
    font-size: 8rem;
    span {
      color: red;
    }
  }

  @include device("s") {
    h1 {
      margin-top: 5rem;
      font-size: 6rem;
    }

    p {
      font-size: 6rem;
      span {
        font-size: 6rem;
      }
    }
  }
}

section.motor-section {
  position: relative;
  height: 40%;
  max-height: 40rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #58565634;
  backdrop-filter: blur(10px);
  box-shadow: 3px 10px 35px 11px rgba(0, 0, 0, 0.561);

  display: flex;
  align-items: center;

  @include device("s") {
    padding: 1rem;
    align-items: end;
    max-height: 35rem;
  }

  section.section-img-content {
    max-width: 70rem;
    position: absolute;
    top: -15em;
    left: 28rem;

    @include device("m") {
      left: 22rem;
      width: 55rem;
    }

    @include device("s") {
      left: 0rem;
      top: -14rem;
    }

    img {
      width: 100%;
      height: auto;
      transition: opacity 0.5s ease;
    }
  }

  div.info-text {
    width: 100% !important;
    font-family: "Handjet", cursive;

    @include device("s") {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      align-items: flex-start !important;

      div {
        p,
        h4 {
          font-size: 1.8rem !important;
        }
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    p.info-p {
      font-weight: 200;
      font-size: 2rem;
      color: #fff;
      text-shadow: 0 0 1rem #000;
    }

    h4.info-h4 {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  p.slogan {
    font-family: "Kaushan Script", cursive;
    font-size: 3rem;
    font-style: italic;

    position: absolute;
    right: 2rem;
    bottom: 2rem;

    @include device("s") {
      display: none;
    }
  }

  div.colors {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
    right: 8rem;

    div {
      max-width: 100%;
      width: 5rem;
      height: 5rem;
      border-radius: 10%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../../assets/img/colorYellow.png");
      cursor: pointer;

      &:nth-child(1) {
        background-image: url("../../assets/img/colorBlack.png");
      }

      @include device("s") {
        width: 4rem;
        height: 4rem;
      }
    }

    @include device("m") {
      bottom: 10rem;
      right: 15rem;
    }

    @include device("s") {
      bottom: 15rem;
      right: 14rem;
    }
  }
}
